@import "tailwindcss";

.ant-col-offset-8 {
    margin-inline-start: 0 !important;
    width: 100%;
}
p {
    margin: 0 !important;
    padding: 0 !important;
}
.ant-col-16 {
    max-width: 100%;
}
.ant-card .ant-card-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.ant-form-item .ant-form-item-control {
    width: 100% !important;
}
.ant-input-affix-wrapper {
    width: 100% !important;
}
.css-var-root.ant-form-css-var {
    margin-bottom: 10px !important;
}